<!DOCTYPE HTML>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            {{!-- <img class="portrait" src="img/bits-hoodie-dp.jpeg"> --}}
        </div>

        
        {{>footer}}
    </body>
</html>
